<div class="jumbotron">
	<h1>Dev Blogger</h1>
</div>

	<% if @posts.any? %>
		<% @posts.each do |post| %>
		<div class="well">
			<%= link_to post.title, post %>
		    <p>Published <%= time_ago_in_words(post.created_at) %> ago</p>
		</div>
		<% end %>
		<%= link_to "Add another post", new_post_path %>
		<br />
		<% else %>
		<p> There are no posts yet. <%= link_to "Add a new post", new_post_path %> </p>
	<% end %>
<br />

<% if user_signed_in? %>
<p><b>Signed in as <%= current_user.email %></b></p>

		<%= link_to "Edit My Account", edit_user_registration_path  %> |
		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>

    <%= link_to "Sign Up", new_user_registration_path %> |
    <%= link_to "Sign In", new_user_session_path %>
<% end %>


<br />
<br />
<div id="janrainEngageEmbed"></div>