<<<<<<< HEAD
<div class="container">
	<%= form_for @post do |f| %>
=======
<%= form_for @post do |f| %>
>>>>>>> 251ce9a
	<%= f.label :title %>
  <%= f.text_field :title, class: "form-control"  %>
	<%= f.label :body %>
  <%= f.text_area :body, class: "form-control"  %>
	<br />
  <%= f.submit %>
  <% end %>
<<<<<<< HEAD
</div>
=======
>>>>>>> 251ce9a
