<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="alert-success"><strong><%= notice %></strong></p>
  <p class="alert-danger"><strong><%= alert %></strong></p>
</div>
<<<<<<< HEAD
  <%= yield %>

=======

<div class="container">
  <%= yield %>
</div>
>>>>>>> 251ce9a
</body>
</html>
